/* 나눔바른고딕 — 웹폰트 로드 */
@font-face {
    font-family: 'NanumBarunGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/NanumBarunGothic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'NanumBarunGothic';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_seven@1.2/NanumBarunGothic-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
